<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href="{{ url_for('static', filename='/style/style.css') }}">

    <title>Pybot - The Internet Scrapper</title>
</head>

<body class='bg-light'>
    <div class='row d-flex justify-content-center bg-light col-10 mx-auto vh-100'>
        <div class="container container-fluid">
            <header>
                <div class='col-2 mx-auto'>
                    <img src="{{ url_for('static', filename='imgs/logo.png') }}" class='img-fluid' alt="logo">
                </div>

                <div class='row'>
                    <div class="mx-auto">Please enter a name and Pybot will look into the internet to find
                        information about it !
                    </div>
                </div>
            </header>
        </div>


        <div class="col-10 my-auto" id='chat-area'>
            <div class="row">
                <div class="col-2 my-auto" id='logo-pybot'>
                    <img class="img-fluid" src="{{ url_for('static', filename='imgs/ai.svg') }}" alt="BotImage" height="100", width="100">
                </div>
                <div class="col-6">
                    <!-- Post title -->
                    <h3 class="font-weight-bold mb-3 botName">Pybot</h3>
                    <!-- Subtitle-->
                    <h6 class="brown-text font-weight-bold mb-3 text-info">Internet
                        guide
                    </h6>
                    <!-- Text -->
                    <p class='botTalk justify-content-center'>
                        Welcome !
                        All you have to do is enter a location and i'll look into the internet to give you all the
                        information you need !

                        Enjoy !
                    </p>
                </div>
            </div>
        </div>



        <div class="container container-fluid">
            <div class="row">
                <form id='NewItemForm' class="mx-auto">
                    <div class="form-group text-center col-10 mx-auto form-inline">
                        <label for="EnterPlace">Enter a place name</label>
                        <input type="text" class="form-control" id="place">
                        <button type="submit" class="btn btn-primary my-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="container container-fluid bg-dark col-10 fixed-bottom">
        <footer>
            <nav>
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a class="nav-link" href="#">À propos</a></li>
                    <li class="list-inline-item">&middot;</li>
                    <li class="list-inline-item"><a class="nav-link" href="#">Auteur</a></li>
                    <li class="list-inline-item">&middot;</li>
                    <li class="list-inline-item"><a class="nav-link" href="#">GitHub</a></li>
                </ul>
            </nav>
        </footer>
    </div>
    <!-- jQuery first -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src='static/js/script.js'> </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>