body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%233999d7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#chat-area {
    max-height: 500px;
    overflow-y: auto;
}

#map {
    height: 50%;
}

#bot_talk_area {
    background-color: #009A8E;
    text-align: center;
}

#user_asking_area {
    background-color: #5EE2C5;
}

.loading {
    align-items: center;
    text-align: center;
}

.botName {
    font-size: 30px;
    color: #263D42;
}

.botInfo{
    color: #FFAB21;
}

.botTalk {
    color: #263D42;
}

.UserName {
    font-size: 30px;
    color: #263D42;
}

.UserInfo {
    color: #FFAB21;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}